/*#e1afbc
#b8b9be
#ebd68f
#819cc8
#9b0000*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Action-Man;
  src: url("fonts/Action_Man.ttf");
}

body {
  font-family: Action-Man;
  line-height: 1.6em;
  background-color: rgb(255, 236, 242);
  direction: rtl;
}

img {
  border-radius: 20px;
  padding: 5px;
}


.wrapper {
  display: flex;
}

.all-imgs {
  display: flex;
  flex-direction: column;

}

.all-imgs img {
  height: 20vh;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.all-imgs img.active {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: 2px solid #e1afbc;
}

.current-big {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(37, 37, 37, 0.7);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
}

.image-desc {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 10%;


  background: rgba(37, 37, 37, 0.7);
  border-radius: 20px;
  padding: 20px;
  color: white;
  text-align: center;
}

.current-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* object-fit: cover; */
}

.animate-imgs {
  opacity: 0.5;
  animation: animate-imgs 0.5s ease-in-out forwards;
}

@keyframes animate-imgs {
  100% {
    opacity: 1;
  }
}